.about {
  position: relative;
  isolation: isolate;

  margin-top: var(--space-6);
  margin-bottom: 0;

  display: flex;
  align-items: center;
  background: var(--color-background-primary-midnight);
}

.about::after {
  content: "";

  position: absolute;
  z-index: -1;

  left: 0;
  right: 0;
  bottom: -50px;

  height: 400px;

  background: linear-gradient(to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.08) 20%,
      rgba(0, 0, 0, 0.25) 40%,
      rgba(0, 0, 0, 0.55) 65%,
      rgba(0, 0, 0, 0.85) 85%,
      #000 100%);

  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: 6fr 7fr;
  align-items: center;
}

.visual {
  position: relative;
  z-index: 2;

  margin-right: -24%;
}

.visualImage {
  width: 100%;
  max-width: 760px;

  display: block;

  border-radius: var(--radius-xl);

  -webkit-mask-image:
    linear-gradient(to right,
      transparent 0%,
      black 20%,
      black 60%,
      transparent 100%),
    linear-gradient(to bottom,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%);

  -webkit-mask-composite: source-in;

  mask-image:
    linear-gradient(to right,
      transparent 0%,
      black 20%,
      black 60%,
      transparent 100%),
    linear-gradient(to bottom,
      transparent 0%,
      black 20%,
      black 80%,
      transparent 100%);

  mask-composite: intersect;
}

.ctaActions {
  display: flex;
  justify-content: center;
  padding-left: 100px;
  gap: var(--space-6);
}


.information {
  position: relative;
  z-index: 4;

  max-width: 38rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  text-align: right;

}

.kickerContainer {
  margin-bottom: var(--space-4);

  font-family: var(--font-display);
  font-size: var(--fs-heading-xl);
  font-weight: var(--fw-black);

  line-height: var(--lh-very-tight);
  letter-spacing: var(--ls-wide);
  text-transform: uppercase;

  white-space: nowrap;
}

.kicker1 {
  color: var(--color-primary);
}

.kicker2 {
  color: var(--color-text-primary);
}

.divider1 {
  width: 12rem;
  margin-top: var(--space-6);

  margin-right: 0;
}

.greeting {
  margin-bottom: var(--space-2);

  font-family: var(--font-display);
  font-size: var(--fs-heading-md);
  font-weight: var(--fw-black);
  line-height: var(--lh-tight);

  color: var(--color-highlight);
  white-space: nowrap;
}

.description {
  width: 32rem;
  margin-bottom: var(--space-4);

  font-family: var(--font-primary);
  font-size: var(--fs-body-lg);

  line-height: var(--lh-loose);

  color: var(--color-text-secondary);
}

.description:last-of-type {
  margin-bottom: var(--space-12);
  line-height: var(--lh-relaxed);
}

.footer {
  margin-top: var(--space-6);
  margin-bottom: var(--space-2);
  font-family: var(--font-display);
  font-weight: var(--fw-black);

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  white-space: nowrap;
}

.divider2 {
  width: 75%;
  margin-bottom: var(--space-6);
}

.philosophy {
  margin-bottom: 0;
  font-size: var(--fs-body-lg);

  color: var(--color-primary);
}

.ctaTitle {
  margin-top: 0;

  font-size: var(--fs-heading-lg);

  color: var(--color-highlight);
}