@import "./base/token/index.css";
@import "./base/typography.css";
@import "./base/utilities.css";
@import "./base/animations.css";

@import "./components/button.css";
@import "./components/input.css";
@import "./components/card.css";
@import "./components/badge.css";
@import "./components/divider.css";
@import "./components/chip.css";

/* GLOBAL RESET */

*,
*::before,
*::after { box-sizing: border-box; }

/* GLOBAL DOCUMENT */

html { scroll-behavior: smooth; }

body {
    margin: 0;
    min-height: 100vh;

    background: var(--color-background-primary);
    color: var(--color-text-primary);

    font-family: var(--font-primary);
    font-size: var(--fs-body-md);
    line-height: var(--lh-relaxed);

    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
}

#root { min-height: 100vh; }