.section {
  width: 100%;
  box-sizing: border-box;
}

.size-none{
  padding-block: 0;
}

.size-sm {
  padding-block: var(--space-4);
}

.size-md {
  padding-block: var(--space-8);
}

.size-lg {
  padding-block: var(--space-12);
}

.variant-default {
  background: transparent;
}

.variant-surface {
  background: var(--color-surface-primary);
}

.variant-transparent {
  background: transparent;
}
